.message {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 2px 8px;
  width: max-content;
  text-wrap: wrap;
  word-break: break-all;
  width: fit-content;
}

.message.incoming {
  background-color: #25262d;
}

.message.outgoing {
  align-self: flex-end;
  background-color: #2d3361;
}
