.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 64px;
  background-color: #17181c;
  min-width: 600px;
}

.formTitle {
  color: #fff;
  font-size: 24px;
}

.formErrorWrapper {
  position: relative;
}

.formError {
  position: absolute;
  color: rgb(128, 7, 7);
  font-family: inherit;
  font-weight: 600;
  font-size: 0.8rem;
  top: -0.5rem;
}

.formLabel {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
  font-weight: 600;
}

.formButton {
  max-width: 200px;
  align-self: center;
}
