.form {
  --PhoneInputCountryFlag-borderColor: #4a5568;
  --PhoneInputCountrySelectArrow-color: #a0aec0;
  --PhoneInputCountrySelectArrow-opacity: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form select {
  background-color: #1a202c;
  color: #e2e8f0;
}

.input {
  max-width: 300px;
  width: 100%;
}

.button {
  max-width: 300px;
}

.formErrorWrapper {
  position: relative;
}

.formError {
  position: absolute;
  color: rgb(128, 7, 7);
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  transform: translateX(-50%);
  text-wrap: nowrap;
  top: -6px;
}
