@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-VariableFont_wdth\,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --blue: #471AFF;
  --purple: #9500FF;
  --white: #FFFFFF;
  --ligh-blue: #00BFFF;
  --dark-purple: #6E1AFF;
  --black: #0D001A;
}

html,
body {
  background-color: #25262d;
  min-height: 100dvh;
  height: 100%;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
