.container {
  padding: 0.5rem;
  height: 100%;
  min-height: 0;
}

.chat_wrapper {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  background-color: #17181c;
  padding: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat_title {
  text-align: center;
}

.chat_controls {
  display: flex;
  justify-self: end;
  height: 60px;
}

.chat_send_wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40px;
}

.chat_send_button {
  width: 30px;
  cursor: pointer;
  filter: invert(0.5);
}


.chat_messages {
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;flex-direction: column;
  gap: 10px;
  padding: 12px;
  scrollbar-gutter: stable both-sides;
}

.message {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 2px 8px;
  width: max-content;
  text-wrap: wrap;
  word-break: break-all;
  width: fit-content;
}

.message.incoming {
  background-color: #25262d;
}

.message.outgoing {
  align-self: flex-end;
  background-color: #2d3361;
}
