.container {
  padding: 0.5rem;
  height: 100%;
  min-height: 0;
}

.chatWrapper {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  background-color: #17181c;
  padding: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatTitle {
  text-align: center;
}

.chatMessages {
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;flex-direction: column;
  gap: 10px;
  padding: 12px;
  scrollbar-gutter: stable both-sides;
}

.chatControls {
  display: flex;
  justify-self: end;
  height: 60px;
}

.chatButtonWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40px;
}

.chatButton {
  width: 30px;
  cursor: pointer;
  filter: invert(0.5);
}

.chatButton:disabled {
  filter: invert(0.2);
}

