.container {
  display: grid;
  background-image: url("../../../../assets/images/topography.svg");
  grid-template-columns: auto 1fr;
  height: 100%;
}

.panelWrapper {
  padding: 0.5rem;
  width: 20%;
  min-width: 250px;
  min-height: 0;
  position: relative;
}

.panel {
  padding: 4px 0;
  overflow: hidden;
  height: 100%;
  border: 1px solid #ffffff1a;
  border-radius: 6px;
  background-color: #17181c;
  display: flex;
  flex-direction: column;
}

.panelTitle {
  color: #fff;
  padding: 8px;
  text-align: center;
}

.loaderWrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #ffffff1a;
  background-color: #25262d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper .loader {
  width: 80%;
  border-color:#08090f transparent;
}

.chatsWrapper {
  height: 100%;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}
